@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap');
body{
    width: 960px;
    margin: 0 auto;
    font-family: 'Noto Sans TC', sans-serif;
}
a{
    text-decoration: none;
    padding: 13px;
    text-transform: uppercase;
}
a:hover {
    background-color: #ce1212;
    color: #eeebdd;

}
header{
    text-align: center;
}
.logo{
    width: 100px;
    display: block;
    margin: 20px auto;
    position: sticky;
}   
main ul{
    font-size: 20px;
    text-transform: capitalize;
    list-style-type: none;
}
main ul li:nth-child(odd) {
background-color: #d2e69c;
color: #194350;
font-weight: 500;
}
main ul li:nth-child(even) {
    background-color: #8fd9a8;
    color: #7b113a;
    font-weight: 400;
    }
    main div {
   height: 20px;
   width: 170px;
    }
    div:nth-child(2) {
        position: relative;
        left: 10pxs;
        top: 20px;
    } 
    
#gg :nth-child(4){
    position: fixed;
    bottom: 30px;
    right: 10pxs;
    color: #ce1212;
} 
div:nth-child(1) {
    position: sticky;
    top: auto;
    left: 10pxs;
} 
div:nth-child(3) {
    position: absolute;
    right:10pxs;
} 
footer{
    text-align: center;

}
footer ul li {
    display: inline;
}